doctype html
html(lang="en",dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Playing Black Jack
    link(rel="stylesheet", href="dist/styles/main.min.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab", rel="stylesheet")

    body
      main#main-doc
        include nav.pug
        include main.pug


      //TODO: at least 5 code elements
      //TODO: at least 5 li items
      //TODO: on regular size devices, laptops/desktops the nav bar should be on the left and always visible
      //TODO:the tech should have at least one media query
      //script(src="dist/scripts/main.min.js")
      script(src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js")
