nav#navbar
  ul
    header rules of blackjack
    a(href="#introduction_to_blackjack").nav-link
      li introduction to blackjack
    a(href="#the_pack").nav-link
      li the pack
    a(href="#object_of_the_game").nav-link
      li object of the game
    a(href="#card_values_and_scoring").nav-link
      li card values and scoring
    a(href="#betting").nav-link
      li betting
    a(href="#the_shuffle_and_cut").nav-link
      li the shuffle and cut
    a(href="#the_deal").nav-link
      li the deal
    a(href="#naturals").nav-link
      li naturals
    a(href="#playing").nav-link
      li playing
    a(href="#the_dealer").nav-link
      li the dealer
    a(href="#signaling_intentions").nav-link
      li signaling intentions
    a(href="#splitting").nav-link
      li splitting
    a(href="#doubling_down").nav-link
      li doubling down
    a(href="#insurance").nav-link
      li insurance
    a(href="#settlement").nav-link
      li settlement
    a(href="#reshuffling").nav-link
      li reshuffling
    a.nav-link(href="#basic_strategy")
      li basic strategy
