nav#navbar
  ul
    header
      h1 blackJack
    a.nav-link(href="#introduction")
      li introduction
    a.nav-link(href="#the_pack")
      li the pack
    a.nav-link(href="#object_of_the_game")
      li object of the game
    a.nav-link(href="#card_values_and_scoring")
      li card values and scoring
    a.nav-link(href="#betting")
      li betting
    a.nav-link(href="#the_shuffle_and_cut")
      li the shuffle and cut
    a.nav-link(href="#the_deal")
      li the deal
    a.nav-link(href="#naturals")
      li naturals
    a.nav-link(href="#playing")
      li playing
    a.nav-link(href="#the_dealer")
      li the dealer
    a.nav-link(href="#signaling_intentions")
      li signaling intentions
    a.nav-link(href="#splitting")
      li splitting
    a.nav-link(href="#doubling_down")
      li doubling down
    a.nav-link(href="#insurance")
      li insurance
    a.nav-link(href="#settlement")
      li settlement
    a.nav-link(href="#reshuffling")
      li reshuffling
    a.nav-link(href="#basic_strategy")
      li basic strategy
