$black: #000
$blue: #00f
$red: #f00
$whitesmk: #f0f0f0

//height and width properties includes padding and border
root
  box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit

body
  background-color: $whitesmk

main
  display: grid

h1,
h2
  font-family: 'Roboto Slab', serif
  text-transform: capitalize
